.about-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.about {
    width: auto;
    background-color: #a93e3e;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -10px);
    }
}

@media only screen and (max-width: 1200px) {
    .about {
        margin-bottom: 5px;
    }
}
