.search-container {
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search {
    width: 60%;
    height: auto;
    background-color: white;
    color: black;
    padding: 20px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 1px 0 #a93e3e;
}

.search-filter {
    width: 60%;
    color: white;
    margin: 10px 15px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-shadow: 0 2px 1px #a93e3e;
    gap: 15px;
}

.search-filter p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-filter i {
    font-size: 12px;
}

@media only screen and (max-width: 1200px) {
    .search-container {
        margin-top: 10%;
    }
    .search,
    .search-filter {
        width: 94%;
    }
    .search-filter {
        justify-content: center;
        margin: 10px 0 0 0;
    }
}
